@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../styles/theme.css");

body {
  font-family: var(--font-plusJakartaSans);
}

@layer utilities {
  .card-wrapper {
    @apply p-6 rounded-2xl;
  }

  .primary-gradient {
    background: linear-gradient(135deg, #868cff 0%, #4318ff 100%);
  }
}

.primary-box-shadow {
  box-shadow: 14px 17px 40px 4px rgba(112, 144, 176, 0.08);
}

.rt-TableCell {
  vertical-align: middle !important;
}
