@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../styles/theme.css");

body {
  font-family: ;
}

@layer utilities {
  .card-wrapper {
    @apply p-6 rounded-2xl;
  }

  .primary-gradient {
    background: linear-gradient(135deg, #868cff 0%, #4318ff 100%);
  }
}

.primary-box-shadow {
  box-shadow: 14px 17px 40px 4px rgba(112, 144, 176, 0.08);
}

.secondary-box-shadow {
  box-shadow: 0px 18px 40px 0px rgba(112, 144, 176, 0.12);
}

.dark-secondary-box-shadow {
  box-shadow: 0px 18px 40px 0px rgba(28, 28, 28, 0.4);
}
